<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h5>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h5>
    <ul>

      <% unless resource.errors.empty? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <ul>
            <% resource.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      <% end %>

      </div>
    </ul>
  </div>
<% end %>
