<h3>Welcome Admin!</h3>

<h4 style="margin-top: 50px;">Sobre os usuários cadastrados</h4>
<div class="alert alert-success" role="alert">
  <p>Total de usuários do sistema: <%= @total_users %></p>
</div>

<div class="alert alert-warning" role="alert">
  <p>Total de questões:  <%= @total_questions %></p>
</div>

