<h3>Bem Vindo Usuário!</h3>


<h4 style="margin-top: 50px;">Sobre as questões respondidas</h4>
<div class="alert alert-success" role="alert">
  <p>Total de Questões: <%= @user_statistic.total_questions %></p>
</div>

<div class="alert alert-warning" role="alert">
  <p>Total de Questões Corretas: <%= @user_statistic.right_questions %></p>
</div>

<div class="alert alert-danger" role="alert">
  <p>Total de Questões Incorretas: <%= @user_statistic.wrong_questions %></p>
</div>
